$background: #F6F4F2;
$dark: #212121;
$white: #FFFFFF;
$secondary: #B1B1B1;
$light: #ECECEC;
$primary: #18443E;
$primary-hover: #18443ECC;
$secondary-hover: #2C5852;
$negative: #D91528;

a {
  color: $white;
  text-decoration: none;
}