body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    background: $bg-color;
    color: $dark-color;
    font-weight: 500;
}

.infant-font {
    font-family: 'Cormorant Infant', sans-serif;
}

a {
    color: $white-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.bg-background {
    background: $bg-color;
}