body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    background: $bg-color;
    color: $dark-color;
    font-weight: 500;
}

.infant-font {
    font-family: 'Cormorant Infant', serif;
    text-transform: uppercase;
    font-weight: 400;
}

a {
    color: $white-color;
    text-decoration: none;
    transition: color .2s ease;
    position: relative;
    line-height: 1.2;

    &:hover {
        &::after,
        &::before {
            width: 100%;
            left: 0;
        }
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: calc(100% + 2px);
        width: 0;
        right: 0;
        height: 1px;
    }

    &::before {
        transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88);
        background: $bg-color;
    }

    &::after {
        transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
        background: $bg-color;
    }
}

.bg-background {
    background: $bg-color;
}