// colors
$bg-color: #F6F4F2;
$dark-color: #212121;
$white-color: #FFFFFF;
$secondary-color: #B1B1B1;
$light-color: #ECECEC;
$primary-color: #18443E;
$primary-hover-color: #18443ECC;
$secondary-hover-color: #2C5852;
$negative-color: #D91528;

// padding
$section-pd: 60px;